.person-list-card {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 60px;
}

.title-text {
  margin: 10px;
}

.control-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
